<div class="jumbotron">
    <h1 class="display-3">Tahu Bulat Digoreng Dadakan</h1>
    <p class="lead">Tahu bulat, digoreng dadakan lima ratusan, anget-anget, gurih-gurih enyoy.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h4>Tahu bulat 7-pack</h4>
        <img src="/images/tahubulat.jpg" alt="Tahu Bulat" class="tbimg">
        <p>Tahu bulat hangat, pilihan tepat untuk menemani sore hari Anda.</p>
        <p class="order">
            <span class="price">Rp3.500</span>
            <a href="/order/7" class="btn btn-primary">Pesan</a>
        </p>
    </div>
    <div class="col-md-4">
        <h4>Tahu bulat 20-pack</h4>
        <img src="/images/tahubulat.jpg" alt="Tahu Bulat" class="tbimg">
        <p>Cocok dinikmati bertiga, atau berdua, atau bahkan sendiri.</p>
        <p class="order">
            <span class="price">Rp10.000</span>
            <a href="/order/20" class="btn btn-primary">Pesan</a>
        </p>
    </div>
    <div class="col-md-4">
        <h4>Tahu bulat 400-pack</h4>
        <img src="/images/tahubulat.jpg" alt="Tahu Bulat" class="tbimg">
        <p>The ultimate package. Tepat untuk meningkatkan semangat satu kantor.</p>
        <p class="order">
            <span class="price">Rp200.000</span>
            <a href="/order/400" class="btn btn-primary">Pesan</a>
        </p>
    </div>
</div>

<address>Foto tahu bulat disadur dari <a href="http://www.kulinersehat.com/resep-tahu-bulat-tasikmalaya-nikmat/">Kuliner Sehat</a>.</address>